@model Inventario.GUI.Models.Edificio.ModeloEdificioGUI

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Edificios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreSede)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreSede)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-danger" })
</p>
