@model Inventario.GUI.Models.Parametros.ModeloEspacioGUI

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_espacio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombrePiso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePiso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id },new { @class = "btn btn-success" } ) |
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-danger" })
</p>
