@model Inventario.GUI.Models.Producto.ModeloProductoGUI

@{
    ViewBag.Title = "Create";
}

<h2>Creación de Productos</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Creación de Producto</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FechaRegistro, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FechaRegistro, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FechaRegistro, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Serial, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Serial, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Serial, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdMarca, "id_marca", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.IdMarca, new SelectList(Model.ListaMarca, "Id", "Nombre"), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdMarca, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.IdTipoProducto, "id_tipoProducto", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.IdTipoProducto, new SelectList(Model.ListaTipoProducto, "Id", "Nombre"), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdTipoProducto, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.IdCategoria, "id_categoria", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <!--Agregar DropDownListFor-->
            @Html.ValidationMessageFor(model => model.IdCategoria, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdEspacio, "id_espacio", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <!--Agregar DropDownListFor-->
            @Html.ValidationMessageFor(model => model.IdEspacio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdPersona, "id_persona", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <!--Agregar DropDownListFor-->
            @Html.ValidationMessageFor(model => model.IdPersona, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-danger" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
