@model Inventario.GUI.Models.Producto.ModeloProductoGUI

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreEspacio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEspacio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreMarca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreMarca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombrePersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePersona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreTipoProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreTipoProducto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-danger" })
</p>
